<p id="notice"><%= notice %></p>

 
<table>
  <thead>
    <tr>
     <%= link_to 'Regresar', root_path, class:"btn btn-primary button-color float-right" %>


      <div class="panel panel-default">
         <H2> <strong> <div class="panel-heading">SERVICIOS QUE SE OFRECEN</div></strong></H2>
          <div class="panel-body">
      </div>

        <ul class="list-group">
          <li class="list-group-item">*Ultrasonidos ₡35.000</li>
          <li class="list-group-item">*Placas ₡35.000</li>
          <li class="list-group-item">*Odontologia ₡20.000</li>
          <li class="list-group-item">*Mamografía ₡20.000</li>
          <li class="list-group-item">*Medicina General ₡25.000</li>
          <li class="list-group-item">*Ginecología ₡25.000,</li>
          <li class="list-group-item">*Medicina General ₡25.000</li>
        </ul>
      </div>
     

      <th colspan="3"></th>
    </tr>
  </thead>

  
</table>



          
     




