<h1>Dashboard::Doctors#index</h1>
<p>Find me in app/views/dashboard/doctors/index.html.erb</p>

<%= link_to 'Ingresar Doctores',   doctor_session_path  , class:"navbar-brand text-white"%>

<%= link_to 'Ingresar Clinicas',  new_clinic_path, class:"navbar-brand text-white"%>

